@font-face {
	font-family: 'Terminus';
	src: url('./fonts/TerminessNerdFont-BoldItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.App {
  display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: black;
}

.keycube-text {
	color: white;
	font-size: 3rem;
	font-family: 'Terminus', sans-serif;
	animation: fade 3s infinite;
}

@keyframes fade {
	0%, 100% { opacity: 0; }
	50% {opacity: 1; }
}
